@using ASF.UI.WbSite.Services.Localization
@using PagedList.Mvc
@using PagedList

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@model IEnumerable<ASF.Entities.Client>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var q = ViewBag.searchQuery;
}

<h2>@Html.getResourceString("Index")</h2>

<div class="wrapper">
    <!-- cuadro de búsqueda-->
    <div class="search-box">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="q" class="search-text form-control" placeholder="Buscar apellido..." />
            </div>
            <button type="submit" class="btn btn-info">@Html.getResourceString("Search")</button>
        </form>
    </div>
    <br />

    <!-- loop through each of your products and display it however you want. we're just printing the name here -->
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayName(Html.getResourceString("LastName"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("Name"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("Email"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("Country"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("City"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("SignupDate"))
            </th>
            <th>
                @Html.DisplayName(Html.getResourceString("OrderCount"))
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.onePageOfClients)
        {
            <tr>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.CreatedBy
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.SignupDate
                </td>
                <td>
                    @item.OrderCount
                </td>
                <td>
                    @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { Rowid = item.Rowid }) |
                    @Html.ActionLink(Html.getResourceString("Details"), "Details", new { Rowid = item.Rowid }) |
                    @Html.ActionLink(Html.getResourceString("Delete"), "Delete", new { Rowid = item.Rowid })
                </td>
            </tr>
        }
    </table>
    <div class="wrapper">
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager((IPagedList)ViewBag.onePageOfClients, page => Url.Action("Index", new { page, q }))
    </div>
</div>