@using ASF.UI.WbSite.Services.Localization

@model ASF.UI.WbSite.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@Html.getResourceString("Profile")</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4>@Html.getResourceString("Change.account")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.getResourceString("Password"):</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Html.getResourceString("Change.password"), "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Html.getResourceString("Create"), "SetPassword")
            }
            ]
        </dd>
        <dt>Rol:</dt>
        <dd>
            [
            @if (User.IsInRole("Administrador"))
            {
                <text>Administrador</text>
            }
            else
            {
                <text>Cliente</text>
            }
            ]
        </dd>

        @Html.Hidden("user", User.Identity.Name)

        @*
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
        *@
        @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>*@
    </dl>
</div>

<div id="cliente"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/cliente.js" type="text/javascript"></script>
    <script src="~/Scripts/Cookie.js" type="text/javascript"></script>
}