@using Microsoft.AspNet.Identity
@using ASF.UI.WbSite.Services.Localization

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="cartAnchor"><span aria-hidden="true" class="fa fa-shopping-cart"></span></a></li>
            <li>
                @Html.ActionLink(" " + @Html.getResourceString("Hello") + " " + User.Identity.GetUserName() + "!", "Index", "Manage", new { Area = "" }, htmlAttributes: new { title = "Manage", @class = "fa fa-user" })
            </li>
            <li>
                @Html.ActionLink(" " + @Html.getResourceString("LogOut") + " ", "LogOff", "Account", new { Area = "" }, htmlAttributes: new { title = "LogOff", @class = "fa fa-sign-out" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="cartAnchor"><span aria-hidden="true" class="fa fa-shopping-cart"></span></a></li>
        <li>@Html.ActionLink(" " + @Html.getResourceString("Register") + " ", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink", @class="fa fa-pencil-square-o" })</li>
        <li>@Html.ActionLink(" " + @Html.getResourceString("LogIn") + " ", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", @class="fa fa-sign-in"})</li>
    </ul>
}
