@using ASF.UI.WbSite.Services.Localization

<!-- loop through each of your products and display it however you want. we're just printing the name here -->
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayName(Html.getResourceString("Title"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("Description"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("Dealer"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("Image"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("Price"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("QuantitySold"))
        </th>
        <th>
            @Html.DisplayName(Html.getResourceString("AvgStars"))
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.onePageOfProducts)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Vendedor.LastName, @item.Vendedor.FirstName
            </td>
            <td>
                @item.Image
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.QuantitySold
            </td>
            <td>
                @item.AvgStars
            </td>
            <td>
                @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { Rowid = item.Rowid }) |
                @Html.ActionLink(Html.getResourceString("Details"), "Details", new { Rowid = item.Rowid }) |
                @Html.ActionLink(Html.getResourceString("Delete"), "Delete", new { Rowid = item.Rowid })
            </td>
        </tr>
    }

</table>
