@using ASF.UI.WbSite.Services.Localization

@model ASF.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.getResourceString("Details")</h2>

<div>
    <h4>@Html.getResourceString("Product")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Html.getResourceString("Title"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("Description"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("Dealer"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealerId)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("Image"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("Price"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("QuantitySold"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantitySold)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("AvgStars"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgStars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rowid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rowid)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("CreatedOn"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("CreatedBy"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("ChangedOn"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedOn)
        </dd>

        <dt>
            @Html.DisplayName(Html.getResourceString("ChangedBy"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { Rowid = Model.Rowid }, new { @class = "btn btn-default" })
    @Html.ActionLink(Html.getResourceString("Back"), "Index", null, new { @class = "btn btn-default" })
</p>
