@using ASF.UI.WbSite.Services.Localization
@using PagedList.Mvc
@using PagedList

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@model IEnumerable<ASF.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var q = ViewBag.searchQuery;
}

<h2>@Html.getResourceString("Product")</h2>

<div class="wrapper">
    <!-- cuadro de búsqueda-->
    <div class="search-box">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="q" class="search-text form-control" placeholder="@Html.getResourceString("Search") @Html.getResourceString("Product")..." />
            </div>
            <button type="submit" class="btn btn-info">@Html.getResourceString("Search")</button>
        </form>
    </div>
    <br />

    <!-- loop through each of your products and display it however you want. we're just printing the name here-->

    <div class="container">
        @if (User.IsInRole("Administrador"))
        {
            @Html.Partial("_partialProductAdmin")
        }
        else
        {
            @Html.Partial("_partialProductClient")
        }
    </div>
    <div class="wrapper">
        <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager((IPagedList)ViewBag.onePageOfProducts, page => Url.Action("Index", new { page, q }))
    </div>
</div>