@using ASF.UI.WbSite.Services.Localization

@model ASF.Entities.LocaleStringResource

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.getResourceString("Details")</h2>

<div>
    <h4>@Html.getResourceString("Resources")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.getResourceString("Resource.value")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceValue)
        </dd>

        <dt>
            @Html.getResourceString("Resource_Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocaleResourceKey_Id)
        </dd>

        <dt>
            @Html.getResourceString("Language_Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { id = Model.Id }, new { @class="btn btn-default"}) 
    @Html.ActionLink(Html.getResourceString("Back"), "Index", null, new { @class="btn btn-default"})
</p>
