@using ASF.UI.WbSite.Services.Localization

@model IEnumerable<ASF.Entities.LocaleStringResource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.getResourceString("Index")</h2>

<p>
    @Html.ActionLink(Html.getResourceString("Create"), "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.getResourceString("Resource.value")
        </th>
        <th>
            @Html.getResourceString("Resource_Id")
        </th>
        <th>
            @Html.getResourceString("Language_Id")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocaleResourceKey_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language_Id)
        </td>
        <td>
            @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { id=item.Id }) |
            @Html.ActionLink(Html.getResourceString("Details"), "Details", new { id=item.Id }) |
            @Html.ActionLink(Html.getResourceString("Delete"), "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
