@using ASF.UI.WbSite.Services.Localization

@model ASF.Entities.Language

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.getResourceString("Delete")</h2>

<h3 class="text-danger">@Html.getResourceString("Delete.Message")</h3>
<div>
    <h4>@Html.getResourceString("Language")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.getResourceString("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.getResourceString("LanguageCult")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCulture)
        </dd>

        <dt>
            @Html.getResourceString("Flag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagImageFileName)
        </dd>

        <dt>
            @Html.getResourceString("RTL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightToLeft)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Html.getResourceString("Delete") class="btn btn-default" />
            @Html.ActionLink(Html.getResourceString("Cancel"), "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
