@using ASF.UI.WbSite.Services.Localization

@model ASF.Entities.Language

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.getResourceString("Details")</h2>

<div>
    <h4>@Html.getResourceString("Language")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.getResourceString("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.getResourceString("LanguageCult")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCulture)
        </dd>

        <dt>
            @Html.getResourceString("Flag")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagImageFileName)
        </dd>

        <dt>
            @Html.getResourceString("RTL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightToLeft)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Html.getResourceString("Edit"), "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink(Html.getResourceString("Back"), "Index", null, new { @class = "btn btn-default" })
</p>
