@using ASF.UI.WbSite.Constants.ErrorController
@using ASF.UI.WbSite.Constants.HomeController
@using ASF.UI.WbSite.Services.Localization

@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="jumbotron">
    <h1 class="h1-banner"><span aria-hidden="true" class="fa fa-star"></span> Leather Goods inc. </h1>
    <input type="text" id="productSearch" name="productSearch" class="form-control" /><span aria-hidden="true" class="fa fa-search searchspan"></span>
</header>

<div class="container">
    <div class="text-center">
        <div class="clearfix"></div>
        @foreach (var item in ViewBag.categorias)
        {
            <a class="btn btn-default" id="@item.Name"> @item.Name </a>
        }
    </div>
</div>

@*Carusel de productos*@
<div id="carusel"></div>

<a name="About"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h1><span aria-hidden="true" class="fa fa-users"></span> @Html.getResourceString("About") </h1>
                @Html.getResourceString("About.page")
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6" style="margin-left:165px;">
                <img class="img-home-responsive" src="~/Content/img/carteras.jpg" alt="carteras">
            </div>
        </div>
    </div>
</div>

<a name="Contact"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <div class="clearfix"></div>
                <div>
                    <h1><span aria-hidden="true" class="fa fa-phone"></span> @Html.getResourceString("Contact") </h1>
                    <address>
                        Boedo 2821<br />
                        Boulgone, San Isidro, 1609<br />
                        @Html.getResourceString("Phone"): +54-11-4700-0682<br />
                    </address>

                    <address>
                        <strong>@Html.getResourceString("Support"):</strong>   <a href="mailto:Soporte@leathergoods.com.ar">Soporte@leathergoods.com.ar</a><br />
                        <strong>@Html.getResourceString("Marketing"):</strong> <a href="mailto:Marketing@leathergoods.com.ar">Marketing@leathergoods.com.ar</a>
                    </address>
                    <br />
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="http://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="http://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="http://pinterest.com" class="btn btn-default btn-lg"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="http://instagram.com" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="http://youtube.com" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="http://tumblr.com" class="btn btn-default btn-lg"><i class="fa fa-tumblr fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-home-responsive" src="~/Content/img/zapatos.jpg" alt="zapatos">
            </div>
        </div>
    </div>
</div>

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/carusel.js" type="text/javascript"></script>
<script src="~/Scripts/searchProduct.js" type="text/javascript"></script>
<script src="~/Scripts/Cookie.js" type="text/javascript"></script>
}